storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio

clitool dotnet-xunit

group Fake
	storage packages
	framework netstandard20
	source https://www.nuget.org/api/v2

	generate_load_scripts true

	nuget Fake.Core.Target
	nuget Fake.IO.FileSystem
	nuget Fake.DotNet.MSBuild
	nuget Fake.DotNet.Testing.NUnit
